{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="contact" class="p-5 bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1 text-center">
                    <h1 class="formHeader">Do you have something in mind?</h1>
                    <br>
                    <p class="formText">Fill in the form below outlining the custom art piece or print you would you like and I'll respond with options and pricing.</p>
                    <br>
                    <form class="myForm" onsubmit="openModal()" action="https://formspree.io/beansara@hotmail.com" method="POST">
                        <div class="form-group"><input class="form-control" name="email" required="" type="email" placeholder="Your email *"></div>
                        <div class="form-group"><input class="form-control mt-3" name="name" type="text" placeholder="Your name"></div>
                        <div class="form-group"><input class="form-control mt-3" name="telephone" type="tel" placeholder="Your telephone"></div>
                        <div class="form-group"><input class="form-control mt-3" name="information" type="information" placeholder="How did you find me"></div>
                        <div class="form-group"><textarea class="form-control" name="message" rows="12" placeholder="Your message"></textarea></div>
                        <button type="submit" value="send" class="btn btn-default contactButton">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        
{% endblock content %}