{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<section id="landingImage" class="bg-dark">
    <div class="container-fluid">
        <div class="row max-viewport align-items-center">
            <div class="col-12">
                <div class="row">
                    <img class="img-responsive banner" src="{% static 'home/images/crayons.jpeg' %}"></img>
                    <div class="landingText">
                        <p class="tagLine">Custom art for kids<br>Paint your imagination</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}