{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<section id="landingImage" class="bg-dark">
    <div class="container-fluid">
        <div class="row max-viewport align-items-center">
            <div class="col-12">
                <div class="row">
                    <img class="img-responsive banner" src="{% static 'home/images/crayons.jpeg' %}"></img>
                    <div class="landingText">
                        <p class="tagLine">Custom art for kids<br>Inspired by your little one's imagination</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container-fluid">
        <div class="row cardRow">
            <div class="col-12">
                <h1 class="categoryHeader">Categories</h1>
            </div>
           
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="card categoryCard">
                    <img class="card-img-top img-responsive" src="{% static 'home/images/name1.jpeg' %}"/>
                  
                    <h3 class="cardTitle">Name Portraits</h3>
                    <p class="cardPostPublish">Make their name a masterpiece with their choice of theme and colours.</p>
                    <a href="#" class="btn btn-default viewProduct" onclick="#">View</a>
                    </div>
                    <br>
                    </div>

        <div class="col-lg-6 col-sm-6 col-xs-12 text-left">
            <div class="card categoryCard">
                    <img class="card-img-top img-responsive" src="{% static 'home/images/frog.jpeg' %}"/>
                  
                    <h3 class="cardTitle">Dictionary Prints</h3>
                    <p class="cardPostPublish">F is for frog! Make learning fun with animal characters and dictionary pages.</p>
                    <a href="#" class="btn btn-default viewProduct" onclick="#">View</a>
                    </div>
                    <br>
                    </div>
                   
    
     </div>
     </div>
</section>
{% endblock content %}