{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<section id="landingImage" class="bg-dark">
    <div class="container-fluid">
        <div class="row max-viewport align-items-center">
            <div class="col-12">
                <div class="row">
                    <img class="img-responsive banner pull-right" src="{% static 'home/images/paintCorner.jpeg' %}"></img>
                    <div class="landingText">
                        <p class="tagLine">Custom art for kids<br>Inspired by your little one's imagination</p>
                    <img class="img-responsive" src="{% static 'home/images/zoodles.png' %}"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container-fluid">
        <div class="row cardRow">
            <div class="col-12">
                <h1 class="categoryHeader">Our Art</h1>
            </div>
           
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="card categoryCard">
                    <img class="card-img-top img-responsive" src="{% static 'home/images/name1.jpeg' %}"/>
                  
                    <h3 class="cardTitle">Name Portraits</h3>
                    <p class="cardPostPublish">Make their name a masterpiece with their choice of theme and colours.</p>
                    <a href="{% url 'name' %}" class="btn btn-default viewProduct" onclick="{% url 'name' %}">View</a>
                    </div>
                    <br>
                    </div>

        <div class="col-lg-6 col-sm-6 col-xs-12 text-left">
            <div class="card categoryCard">
                
                    <img class="card-img-top img-responsive" src="{% static 'home/images/frog.jpeg' %}"/>
                  
                    <h3 class="cardTitle">Dictionary Prints</h3>
                    <p class="cardPostPublish">F is for frog! Make learning fun with animal characters and dictionary pages.</p>
                    <a href="#" class="btn btn-default viewProduct" onclick="#">View</a>
                    </div>
                    <br>
                    </div>
         </div>
     </div>
     
     <br>
     
    <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row carouselRow">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p class="carousel1">"Ella was so excited with her name portrait. It's a great addition to her room. Highly recommend."</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p class="carousel2">"This was the most unique and personal gift Jack recieved. He couldn't believe it. Thanks!" </p>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#text-carousel" data-slide="prev">
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">

  </a>

</div>
</section>


{% endblock content %}