{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}

<br>
<br>
<br>
<br>
<br>
   <div class="container-fluid">
        <div class="row cardRow">
            <div class="col-sm-8 col-lg-8 col-xs-12 col-sm-offset-2 col-lg-offset-2 nameIntro text-center">
                <p>
                <h1>Dictionary Prints</h1>
                My dictionary prints are designed to make learning fun and help children with letter and word recognition.
                Pick a print of your chosen letter. These are printed on a dictionary page which contains the animal description.
                If you require a more personalised dictionary print, please get in touch to discuss ideas and prices.
                  <h4>Prices</h4>
                  £24 per print
                  <br>
                  £35 framed
                  <br>
                  Standard postage rates apply.
                 
                </p>
            </div>
            </div>
            
            <div class="row">
                
             <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/Alphabet.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">All the letters of the alphabet</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
                    
            <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/Caterpillar.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">C is for clever caterpillar</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
                    
            <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/elephant.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">E is for an entertaining elephant</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
            
            </div>
            
            <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">    
            <div class="card dictionaryCard text-center">
              <img class="nameArt img-responsive" src="{% static 'home/images/FrogFINAL.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">F is for a friendly frog</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
            
              <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/Giraffe.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">G is for a greedy giraffe</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
                    
              <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/Jaguar.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">J is for a jazzy jaguar</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>

                    </div>
 
                
              <div class="row">
                  
             <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="card dictionaryCard text-center">
              <img class="nameArt img-responsive" src="{% static 'home/images/dictionary2.jpeg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">L is for lovely ladybirds </p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
                
                 <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt img-responsive" src="{% static 'home/images/MonkeyFINAL.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">M is for a mischievous monkey </p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>                
                    
                <div class="col-lg-4 col-sm-4 col-xs-12">  
                <div class="card dictionaryCard text-center">
              <img class="nameArt dictionaryPrint img-responsive" src="{% static 'home/images/owl.jpg' %}"  alt="art, children's art, custom art, dictionary art, name art"/> 
              <p class="aboutParagraph">O is for an old owl</p>
                    <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>
                </div>

                 
        
<div class="row">
 {% for art in art %}
        <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="card dictionaryCard text-center">
                 <img class="nameArt dictionaryPrint img-responsive" src="{{ MEDIA_URL }}{{ art.image }}"  alt="art, children's art, custom art, dictionary art, name art"/>
                    <p class="aboutParagraph">{{ art.description }}</p>
                     <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                    </div>
     
    {% endfor %}

</div>
 <div class="col-sm-8 col-lg-8 col-xs-12 col-sm-offset-2 col-lg-offset-2 nameIntro text-center">
<h1> Quote Prints</h1>
</div>
<div class="row">
 {% for quote in quote %}
        <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="card dictionaryCard text-center">
                 <img class="nameArt dictionaryPrint img-responsive" src="{{ MEDIA_URL }}{{ quote.image }}"  alt="art, children's art, custom art, dictionary art, name art"/>
                    <p class="aboutParagraph">{{ quote.description }}</p>
                     <a href="{% url 'contact' %}" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                    </div>
     
    {% endfor %}

</div>

{% endblock content %}