{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}

   <div class="container-fluid">
        <div class="row cardRow">
            <div class="col-sm-8 col-lg-8 col-xs-12 col-sm-offset-2 col-lg-offset-2 nameIntro text-center">
                <p>
                <h1>Name Portraits</h1>
                  Here are just some of our previous name portraits. You can pick and choose what you would like to add to your name portrait. Your imagination is the only limit!
                  <h4>Prices</h4>
                  £28 for 3-5 letters
                  <br>
                  £35 for 6-8 letters
                  <br>
                  £38 for 9-11 letters
                  <br>
                  Unframed
                  <br>
                  Add £10 for framed
                  <br>
                  POSTAGE: (unframed) Royal Mail signed for £4.99<br>
                  Framed - courier rates
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 text-left">
                 <div class="card nameCard text-center">
              <img class="nameArt Ava img-responsive" src="{% static 'home/images/name2.jpeg' %}"/> 
              <p class="aboutParagraph">Ava: A for Angel fish, Vulture and Armadillo. </p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    <br>
                    <br>
                 <div class="card nameCard text-center">
              <img class="nameArt Nathan img-responsive" src="{% static 'home/images/name3.jpeg' %}"/> 
              <p class="aboutParagraph">Nautical Nathy opted for a mix of blues and lots of underwater pals.</p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    </div>

                 
            
        <div class="col-lg-6 col-sm-6 col-xs-12 text-left">
            <div class="card nameCard text-center">
                   <img class="nameArt img-responsive" src="{% static 'home/images/barney.jpeg' %}"/>
                    <p class="aboutParagraph">Barney & Beau's favourite selection of animals, even mystical animals too.</p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                    </div>
                </div>
                
        <div class="row">        
         <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="card nameCard text-center">
                   <img class="nameArt Abigail img-responsive" src="{% static 'home/images/name9.jpeg' %}"/>
                    <p class="aboutParagraph">Abigail's name is spelt with the help of animal friends big and small.</p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                      </div>
            
            <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="card nameCard text-center">
                   <img class="nameArt img-responsive" src="{% static 'home/images/maddox.jpeg' %}"/>
                    <p class="aboutParagraph">Life's a beach for Maddox.</p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                    </div>
                    
            </div>
            
                 
        <div class="row">
         <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="card nameCard text-center">
              <img class="nameArt img-responsive" src="{% static 'home/images/name8.jpeg' %}"/> 
              <p class="aboutParagraph">A colourful carnival for Carys</p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    <br>
                   </div>
                   
                 <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="card nameCard text-center">
              <img class="nameArt Nathan img-responsive" src="{% static 'home/images/name4.jpeg' %}"/> 
              <p class="aboutParagraph">Mystical Megan's fantasy land </p>
                    <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                    <br>
                    </div>
                    
                    </div>
             
             
<div class="row">
 {% for art in art %}
        <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="card nameCard text-center">
                 <img class="nameArt img-responsive" src="{{ MEDIA_URL }}{{ art.image }}"/>
                    <p class="aboutParagraph">{{ art.description }}</p>
                     <a href="#" class="btn btn-default orderName" onclick="#">Order Now</a>
                    </div>
                      <br>
                    </div>
     
    {% endfor %}

</div>

</div>

{% endblock content %}