body {
    font-family: 'Montserrat', sans-serif;
}

a, h4, h3, h2, h1 {
   color: #5EC5C4;
}

.btn-default {
    background-color: #5EC5C4;
    color: white;
    font-size: 2rem;
}

.banner {
            background-size: cover;
            width: 100%;
            z-index: 1;
}


.navbar-trans {
  background: white; }

.navbar-nav {
    font-size: 1.8rem;
}


#landingImage {
position: relative;
text-align: left;
color: white;
margin-top: 0px;
-webkit-filter: brightness(110%) saturate(90%);

}


.landingText{
    position: absolute;
    margin: auto;
    margin-left: 110px;
    top: 50%; left: 0px; bottom: 0; right: 0;
	font-family: 'Indie Flower', cursive;
	color: #5EC5C4;
	font-size: 4rem;
}

.categories {
    background-image:url(./images/crayons2.jpeg);
    background-size: cover;
    -webkit-filter: brightness(110%);
    /*padding-bottom: 20px;*/
    
}

.categoryHeader {
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
    text-align: center;
}

.categoryCard {
    background-color: white;
    padding: 20px 10px 20px 10px;
    padding-bottom: 40px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.20), 0 0px 5px 0 rgba(0, 0, 0, 0.20);
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.card-img-top {
    margin: 0 auto;
    padding-bottom: 20px;
}

#text-carousel {
    background-color: white;
    opacity: 0.8;
    margin-top: 100px;
    
}

.carousel1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    color: #5EC5C4;
    text-align: center;
    opacity: 1.0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel2 {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    color: #FF69B4;
    text-align: center;
    opacity: 1.0;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.carousel-control {
    color: #FF69B4;
}

@media only screen and (max-width: 500px) {
    .landingText {
        font-size: 2rem;
        margin: auto;
    }
}